# Homework 5 Part 2
## Assignment: Test/Training Classification Data 

**Authors: John Mazon, Leticia Cancel, Bharani Nittala**

### Assignment

It can be useful to be able to classify new "test" documents using already classified "training" documents.  A common example is using a corpus of labeled spam and ham (non-spam) e-mails to predict whether or not a new document is spam.  Here is one example of such data:  [UCI Machine Learning Repository: Spambase Data Set](http://archive.ics.uci.edu/ml/datasets/Spambase)

For this project, you can either use the above dataset to predict the class of new documents (either withheld from the training dataset or from another source such as your own spam folder).

For more adventurous students, you are welcome (encouraged!) to come up a different set of documents (including scraped web pages!?) that have already been classified (e.g. tagged), then analyze these documents to predict how new documents should be classified.

Source: https://archive.ics.uci.edu/ml/datasets/Nursery

In [6]:
# libraries
import pandas as pd
from sklearn import neighbors
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [4]:
data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/nursery/nursery.data", sep=",", header=None, names=["parents","has_nurs","form","children","housing","finance","social","health","class"])

In [5]:
data.head()

,parents,has_nurs,form,children,housing,finance,social,health,class
0,usual,proper,complete,1,convenient,convenient,nonprob,recommended,recommend
1,usual,proper,complete,1,convenient,convenient,nonprob,priority,priority
2,usual,proper,complete,1,convenient,convenient,nonprob,not_recom,not_recom
3,usual,proper,complete,1,convenient,convenient,slightly_prob,recommended,recommend
4,usual,proper,complete,1,convenient,convenient,slightly_prob,priority,priority

In [7]:
data.shape

(12960, 9)

In [8]:
data.describe()

,parents,has_nurs,form,children,housing,finance,social,health,class
count,12960,12960,12960,12960,12960,12960,12960,12960,12960
unique,3,5,4,4,3,2,3,3,5
top,usual,very_crit,incomplete,1,less_conv,inconv,slightly_prob,not_recom,not_recom
freq,4320,2592,3240,3240,4320,6480,4320,4320,4320

In [9]:
data.groupby('class').size()

class
not_recom     4320
priority      4266
recommend        2
spec_prior    4044
very_recom     328
dtype: int64